<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- DBMS info -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Host and login info -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/</property>
        <property name="hibernate.connection.username">kurumi</property>
        <property name="hibernate.connection.password">kurumi</property>

        <property name="connection_pool_size">1</property>

        <!-- No idea -->
        <property name="show_sql">true</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

        <!-- Makes it, so I don't need to worry about accidentally using reserved words as table/column names -->
        <property name="hibernate.globally_quoted_identifiers">true</property>

        <!-- automatically set up tables? create = create new tables each start, update = only updates if there were
            DDL changes -->
        <property name="hibernate.hbm2ddl.auto">create</property>
    </session-factory>
</hibernate-configuration>